.contenido{
    /*background-image: url("http://blogs.unlp.edu.ar/ingreso/files/2012/11/cropped-FrenteFac1.jpg");*/
    background-size: cover;
    background-color: #D4E6F1;
    flex: 1;
}
#divFlex{
    padding-top: 80px;
    padding-bottom: 20px;
    justify-content: center;
    display:flex;
    max-width:98%
  }